/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --decor-background: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --main-color: #FF0070;
  --main-color-light: #FF007066;
  --secondary-color: #000028;
  --article-color: #F1B2CE;
  --logo-color: #DB00FF;
  --logo-shadow-color: #FF0070;
  --header-rec-visibility: visible;
}