/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 0 var(--main-padding-side, 10px);
  font-family: var(--font-family, "IBM Plex mono", sans-serif), sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-color, #FF0070);
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url(../images/cover-image.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header,
.footer {
  position: relative;
  block-size: max(100vh, var(--header-min-block-size, 668px));
  inline-size: 100%;
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  inset-block-start: var(--main-padding-side, 10px);
  inset-inline-end: 9px;
  visibility: var(--header-rec-visibility, visible);
}

.header__rec:after {
  content: "";
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 100%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  appearance: none;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  text-transform: lowercase;
  padding: 0 13px;
  cursor: pointer;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border-color: var(--main-color-light, #FF007066);
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
}

.header__description {
  align-self: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--section-gap, 50px);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-weight: var(--font-bold, 700);
  font-size: inherit;
}

.section__list {
  display: grid;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__text {
  color: var(--article-color, #F1B2CE);
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--logo-shadow-color, #FF0070);
}

.article__link:hover {
  text-decoration: underline;
}

.article__link:focus-visible {
  outline: 1px solid currentColor;
}

.section-concentration-advice h4.article__title {
  font-weight: initial;
}

.section.gallery {
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title.logo-text {
  text-shadow: 2px 2px var(--logo-shadow-color, #FF0070);
}

.logo-text {
  text-transform: lowercase;
  font-weight: var(--font-bold, 700);
  line-height: 0.83;
  color: var(--logo-color);
  text-shadow: 4px 4px var(--logo-shadow-color, #FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.title-decor {
  display: block;
  background: var(--decor-background, #FF0070);
  color: var(--secondary-color, #000028);
  font-weight: var(--font-bold, 700);
  font-size: 18px;
}

.decorated-zone:after,
.decorated-zone:before {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
}

.decorated-zone:after {
  inset-block-end: var(--main-padding-side, 10px);
  inset-inline-start: 0;
  border-inline-start-width: 1px;
  border-block-end-width: 1px;
}

.decorated-zone:before {
  inset-block-start: var(--main-padding-side, 10px);
  inset-inline-end: 0;
  border-inline-end-width: 1px;
  border-block-start-width: 1px;
}

@media (width >= 768px) {
  .logo-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__title {
    margin-inline-start: calc(0px - var(--main-padding-side, 10px));
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: var(--main-padding-side, 10px);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__list {
    grid-column: span var(--section-item-span, 3);
  }

  .section-concentration-advice,
  .section-concentration {
    --section-item-span: 2;
  }

  .section.gallery {
    gap: 20px;
  }

  .gallery__list {
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__list li:nth-child(1),
  .gallery__list li:nth-child(5) {
    grid-column: span 2;
  }

  .gallery__list li:nth-child(2),
  .gallery__list li:nth-child(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .section-attention .section__list {
    grid-template-columns: repeat(3, 1fr);
  }
}